body {
  background-color: rgb(255, 199, 64);
  font-family: "Times New Roman", Times, serif;text-transform: capitalize;
  background-image: url("https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F2112DC3B51B40F8C05");
  background-size:cover;
  color: #CD853F;
}

form {
  line-height: 40px;
}

h2 {
  font-size: 20px;
}

input[type="text"], input[type="number"] {
  min-height: 15px;
  border-radius: 5px;
  border:3px solid #cccccc;
  background-color: black;
  color: #EEE8AA;
}

input[type="radio"] {
  margin-left: 12px;
}

#main {
  background-color: rgba(75, 42, 42,0.8);
  text-align: center;
  height: 80vh;
  border-radius: 15px;
  margin: 2% 10%;
  overflow: auto;
}

#story {
  padding: 0 3%;
}

#top {
  background-color: rgb(105, 42, 42, 0.8);
  margin: 2% 10%;
  border-radius: 15px;
}

#top img {
  display: block;
  width: 35%;
  margin: 0 auto;
}

.italics {
  font-style: italic;
}

.word {
  font-weight: bold;
  text-decoration: underline;
}
