p{font-family: Arial, Georgia; font-size: 18px; font-weight: bold;}
h1{color: maroon; font-family: Georgia; text-align: center;}
h2{font-family: Georgia;}
.title{color: teal;}
.uppercase{text-transform: uppercase;}
.publish-time{color: gray;}
.cursive{font-family: cursive;}
.capitalize{text-transform: capitalize;}
h2.destination{font-family: cursive, Georgia;}
.description h5{color: teal}
h5{color: rebeccapurple !important}
h5, p{font-family: Georgia}
