body{
  background-color: white;
}
.cl {
  background-color: white;
  text-align: left;
}
#space{
  margin-left: 35%;
}
#logo{
  width:100px;
  height: 100px;
  margin-left: 1%;
}
#p1{
  font-size: 50px;
  color: black;
  margin-right: 0.5%;
  background-image: url(https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20200712_162%2F1594564855423KXQ7I_JPEG%2Fi27GNRqhYw89N98U7Wg0VZS8.jpeg.jpg);
  background-size:cover;
}
#p2{
  font-size: 50px;
  color: black;
  margin-right: 0.5%;
  background-image: url(https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/116911093_132678528505222_3872911792664765758_n.jpg?_nc_cat=108&ccb=2&_nc_sid=110474&_nc_ohc=XDotUjq4jPEAX8Urs4M&_nc_ht=scontent-ssn1-1.xx&oh=dda387b2a11aad008ec4d3fdb7b82142&oe=60149F0B);
  background-size:cover;
}
#co2{
  margin-right: 0.5%;
}
#p3{
   font-size: 50px;
   color: black;
   background-image: url(https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20200710_119%2F1594332681895A7jOP_JPEG%2FuPYa82KUZVtThc61skEe6YO6.jpeg.jpg);
   background-size:cover;
}
#pics{
  width: 49.85%;
  padding: 0.1%
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
  color:white;
}

h3{
  text-align: center;
}

* {
  box-sizing: border-box;
}

#p33{
  width: 100%;
  height: 90%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  background-color: black;
  color:white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 35px;

}
.top:after{
  content: "";
  display: table;
  clear: both;
}
.topcol{
  float: left;
  width: 33%;
  padding: 10px;
  height: 40px;
  text-align: center;
  background-color: white;
  font-size: 25px;
  color:black;
}
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 600px;
  text-align: center;
  background-color: white;
}
.column2 {
  float: left;
  width: 33%;
  padding: 10px;
  height: 40px;
  text-align: center;
  background-color: black;
  font-size: 25px;
  color:white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
