body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2431d8;
    box-shadow: 0px 0px 10px #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#eventtitle {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

#eventtitle h1 {
  color: #2431d8;
}

.event-item {
  width: 30%;
  background-color: #f2f2f2;
  padding: 30px;
  text-align: left;
  box-shadow: 2px 2px 5px #ccc;
  margin: 20px;
}

.event-item img {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.event-item h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.event-item p {
  font-size: 16px;
  margin-bottom: 10px;
}

#eventtitleEX {
  text-align: center;
}

.eventClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.eventClass2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}


tr #category {
  background-color: #f2f2f2;
}

#title {
  color: #2431d8;
  text-align: center;
}

#mainlogo {
  display: block;
  margin: 0 auto;
}

header img {
    height: 40px;
    margin-right: 20px;
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.mainIntro {

}

.text-container {
  color: #2431d8;
  display: flex;
  justify-content: center;
  background-color: lightgray;
}
.donation-container {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding-bottom: 5%;
}

.donation1, .donation2 {
  background-color: white;
  width: 600px;
  display: inline-block;
  text-align: left;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 10px;
}

header nav ul li a:hover {
    color: #555555;
}

section {
    padding: 40px;
}

.upcoming h1{
  text-align: center;
  color: #2431d8;
}
.recentEvents h1 {
  text-align: center;
  color: #2431d8;
}

.recentEvents {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #ffffff;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.upcoming {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #f8f8f8;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 10px;
  margin-bottom: 10%;
}

.conduct-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 10px;
}

.conduct-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #2431d8;
}

.conduct-section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}

.conduct-section ul {
  list-style-type: none;
  font-size: 18px;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.conduct-section li {
  margin-bottom: 10px;
}

.line {
  border-top: 1px solid #333;
  width: 50%;
  margin: 1rem auto;
}

section h1 {
    font-size: 36px;
    color: #2431d8;
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section ul li img {
    width: 100%;
}

#eventlist li {
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 89%;
  margin: 10px 0;
  border: 2px solid #000000;
  border-radius: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #00000;
}

tr:hover {
  background-color: #f5f5f5;
}

#recent-event-photos li {
  display: inline-block;
  justify-content: space-between;
}

#recent-event-photos img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#about h3 {
  width: 30%;
  text-align: left;
  margin-bottom: 20px;
  font-size: 18px;
}

#about p {
  width: 30%;
  text-align: left;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px; /* adjust the height to your desired value */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

#description {
  font-size: 25px;
}

#descriptionLogo {
  height: 20%;
  margin-right: 50px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

#footerimg {
  width: 100%
}

#footer-first{
  text-align: center;
}

.footer-col {
  width: calc(33.33%);
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-col li {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media i {
  font-size: 20px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.about-section {
  text-align: center;
}

.about-section h2 {
  font-size: 32px;
  margin-bottom: 24px;
}

#Description {
  display: flex;
  align-items: center;
}

.description-container {
  display: flex;
  align-items: center;
  margin: 2%;
}

#descriptionLogo {
  margin-right: 24px;
}

#description {
  font-size: 25px;
  font-weight: bolder;
}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.stat {
  text-align: center;
  width: 20%;
  margin: 0 16px;
  font-size: 40px;
}

.smallAbout {
  font-size: 20px;
  color:#3431d8;
  font-weight: bolder;
  margin-top: 1px;
}

.aboutdescribe {
  font-size: 40px;
  margin-top: 1px;
}

.number {
  margin-top: 1px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 8px;
  color:#2431d8;
  font-style: italic;
}

.label {
  margin-top: 1px;
  font-size: 18px;
  color: #333;
}

.vision-section {
  text-align: center;
  margin-top: 48px;
  background-color: #2431d8;
  padding: 30px;
}

.vision-section h3 {
  font-size: 25px;
  margin-bottom: 24px;
  color:white;
}

.vision-section h2 {
  font-size: 32px;
  margin-bottom: 24px;
  color:white;
}

.vision-section ul {
  text-align: left;
  margin-top: 24px;
  padding-left: 10%;
  color:white;
}

.vision-section li {
  font-size: 18px;
  margin-bottom: 12px;
  color:white;
}
